@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    box-sizing: border-box;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}

body {
    background: rgb(36, 35, 35);
}


/* header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #F5DB13;
    z-index: 1;
}

header>img {
    width: 64px;
}

header>button {
    background: none;
    cursor: pointer;
}

.nav-bar {
    display: none;
    font-size: 50px;
}

.nav-bar>a {
    font-size: 1.5rem;
    margin: 0 20px 0 0;
    text-decoration: none;
}


/* main */

main {
    display: flex;
    flex-direction: column;
}


/* título */

.titulo {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: "karla", sans-serif;
    color: white;
    letter-spacing: 6px;
}

.titulo h1 {
    font-size: 44px;
    margin-top: 3%;
    /* trocar por px */
}


/* linha */

.linha {
    align-self: center;
    width: 85%;
    border-bottom: solid white 1px;
    margin-top: 5%;
    /* trocar por px */
}


/* imagem */

.image {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.image img {
    width: 70%;
}


/* texto */

.text {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.text h2 {
    font-size: 62px;
    font-family: "karla", sans-serif;
    color: white;
}

.text p {
    font-family: "Sourxe Sans Pro", sans-serif;
    font-size: 9px;
    color: white;
    letter-spacing: 4px;
    width: 100%;
    line-height: 14px;
    margin-top: 10px;
}


/* atributos */

.load {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.load .p1 {
    margin: 5px 0 5px 0;
    display: flex;
    color: white;
    font-size: 14px;
}

.load .p2 {
    margin: 5px 0 10px 0;
    display: flex;
    color: white;
    font-size: 16px;
}

.load .atrib {
    margin-bottom: 10px;
}

.load-top,
.load-bottom {
    display: flex;
    margin: 0 auto;
}

.prog {
    height: 8px;
    width: 42vw;
    background-color: white;
    border-radius: 10px;
}

.prog-yellow {
    width: 80%;
    height: 100%;
    background: #F5DB13;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.healthy,
.attack {
    margin-right: 10px;
}

.bottom {
    display: flex;
    justify-content: center;
}


/* XSmall */

.box-carousel {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: 'Lato', sans-serif;
    padding-top: 10%;
}

.carousel>ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
}

.carousel {
    position: relative;
    padding-top: 50%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    align-content: center;
    flex: 0 0 100%;
    background-color: transparent;
}

.carousel__slide>img {
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.carousel__slide:nth-child(even) {
    background-color: transparent;
}

.carousel__slide:before {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate3d(-30%, -40%, 70px);
    color: #fff;
    font-size: 2em;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}

.carousel::before,
.carousel__prev {
    left: -1rem;
}

.carousel::after,
.carousel__next {
    right: -1rem;
}

.carousel::before,
.carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}

.carousel::before {
    background-image: url('/images/arrowLeft.svg');
}

.carousel::after {
    background-image: url('/images/arrowRight.svg');
}

@media (max-width: 359px) {
    .titulo h1 {
        font-size: 30px;
    }
    .text h2 {
        font-size: 30px;
    }
    .prog {
        height: 5px;
    }
    .load .p1 {
        font-size: 12px;
    }
    .load .p2 {
        font-size: 14px;
    }
    .image img {
        width: 60%;
    }
    .i2,
    .i3,
    .i4,
    .i5,
    .i6 {
        display: none;
    }
}


/* HEADER */

@media(min-width: 481px) {
    header {
        padding: 20px 10;
    }
    header>img {
        width: 128px;
    }
}


/* Tablet */

@media (min-width:650px) {
    header {
        padding: 20px;
    }
    .nav-bar {
        display: flex;
    }
    .hamburguer-menu {
        display: none;
    }
    .titulo {
        display: flex;
        justify-content: flex-start;
    }
    .titulo h1 {
        font-size: 72px;
        margin-top: 15px;
        margin-left: 25px;
    }
    .linha {
        align-self: flex-start;
        margin-top: 20px;
        margin-left: 25px;
    }
    .middle-container {
        display: flex;
        margin-top: 40px;
    }
    /* imagem */
    .image {
        display: flex;
        justify-content: center;
        width: 50%;
    }
    .image img {
        width: 90%;
        max-height: 363px;
        max-width: 540px;
    }
    .right-container {
        width: 50%;
        max-width: 580px;
    }
    .text {
        margin: 0;
        max-width: 580px;
    }
    .load-top,
    .load-bottom {
        display: flex;
        margin: 0;
        width: 100%;
    }
    .atrib {
        width: 45%;
    }
    .prog {
        height: 8px;
        width: 100%;
        border-radius: 10px;
    }
}

@media (min-width: 1200px) {
    .titulo h1 {
        font-size: 32px;
        margin-top: 5px;
    }
    .linha {
        margin-top: 5px;
    }
    .text h2 {
        font-size: 32px;
    }
    .image {
        margin: 0px;
        margin-top: -30px;
    }
    .image img {
        width: 50%;
    }
    .right-container {
        position: relative;
        margin-top: -30px;
    }
}


/*Carroussel*/

@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -500%;
    }
    98% {
        left: -500%;
    }
    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}